@import "../../scss/base/variables";

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.mapboxgl-popup {
  max-width: 600px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;
}

.mapboxgl-popup-content {
  width: 600px;
  max-width: 90vw;
  height: 350px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;
}

.map-container {
  //margin-top: 10vh;
  position: relative;

  .legend {
    position: absolute;
    top: 10px;
    left: 10px;

    //width: 200px;
    background: white;
    border-radius: 5px;

    padding-right: 14px;


    .crossing_circle {
      $inner_radius: 4px;
      $outer_radius: 12px;

      width: $outer_radius * 2;
      height: $outer_radius * 2;

      border: $outer_radius - $inner_radius solid #FEEDE8;
      border-radius: $outer_radius;
      background: #F2744F;
    }

    .fast_circle {
      $radius: 4px;

      width: $radius * 2;
      height: $radius * 2;

      border: none;
      border-radius: $radius;
      background: #ffbb22;
      opacity: 0.5;
    }

    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
      vertical-align: middle;
      height: 30px;
    }

    .column-1 {
      width: 36px;
    }

    .column-1 > div {
      margin: 0 auto;
    }
  }
}

$map_height: 100vh;

#map {
  background: #000;
  width: 100%;
  height: $map_height;

  .mapboxgl-popup-close-button {
    font-size: 22px;
    color: white;
    background-color: rgba(1, 1, 1, 0.2);
    border: medium none;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mapboxgl-popup-close-button:hover {
    //font-size: 22px;
    color: #151515;
    //background-color: rgba(255, 255, 255, 0.2);
    //border: medium none;
    //border-radius: 0 3px 0 0;
    //cursor: pointer;
    //position: absolute;
    //right: 0;
    //top: 0;
  }
}

.map-title {
  position: absolute;
  left: 150px;
  top: 50px;

  font-size: 22px;
  z-index: 999;
}

.map-popup-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 550px;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0.8;

  .map-popup-content {
    width: 100%;
    height: 350px;

  }

  font-size: 12px;

  p {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p.ul-caption {
    margin-top: 10px;
  }

  z-index: 999;
  color: white;

  .cell-data {
    margin-top: 5px;
  }

  #ul-container {
    position: relative;
    overflow: hidden;
    max-height: 40vh;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table;
    width: 100%
  }

  li {
    list-style-type: none;
    display: table-row;
  }

  li span.date {
    font-style: italic;
    color: #999;
    //padding-left: 40px;
    display: table-cell;
  }

  li a {
    color: #EF5223;
    display: table-cell;
  }

  li a:hover,
  li a.hover {
    color: #1E90FF;
    text-decoration: underline;
  }

  //color: #ffbb22;

  .p-table {display: table}
  .p-row {display: table-row}
  .p-cell {display: table-cell}

  /* to make scrollbars always visible */
  .always-visible.ps > .ps__scrollbar-y-rail {
    opacity: 0.6;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 30px;
    //color: #ff7800;

    @media #{$brk-spnarrow} {
      display: none;
    }
  }
}
